* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkseagreen;
}

section {
    width: 500px;
    height: 300px;
}

p {
    font-size: 20px;
    line-height: 100px;
}

img {
    width: 20%;
    display: inline;
}

header{
padding: auto;
flex: 1 1 400px;
flex-wrap: wrap;
}

.project{
    flex:auto
    flex-direction: row;
    box-sizing: border-box;
    border-radius: ;
    border-style: ;
}

.project img{
    padding: 20px;
    width: 100%;
    
}

@media screen and (max-width: 992px){
width: 50%;
}

@media screen and (max-width: 768px){
width: 33%;
} 


