* {
    font-family: Helvetica, sans-serif;
    background-color: #8C8F70;
    box-sizing: border-box;
    text-align: left
    
    
}
body{
    margin:15px 10px 15px 10px;

}

section {
    width: 100%;
    min-height: 30%;
}
nav {
    width: 90%;
    line-height: 50px;
    font: 100px;
    display: inline;
    font-display: inline;
    
}
h1 { 
    background-color: #8C8F70;
    
}
h2 { background-color: #8F707D;
    margin-bottom: 20px;
}
h3 {
    text-align: left;
    display:inline-flexbox;
    width: 100%;
    height: 25%;
    font-family: helvetica;
    font-size: medium;
    justify-content:space-between;
    margin-bottom: 20px;
}
h4 {
    font-size: small;
    font-weight: lighter;
    text-align: left;
    justify-content:left;
    
}
h5 {
    display: block;
    text-align: center;
    font-style: italic;
}
p {
    font-size: 20px;
    line-height: 10px;
    background-color:#8F707D ;
    margin-bottom: 20px;

}

a {
    font-size: medium black;
    font: 50px; 
    font-size: larger;

    justify-content: space-between;
    text-decoration: none;
    color:black;


}

img {
    width: 75%;
    justify-content: space-between;
    flex:auto;
    align-items: self-end;
}
header {
    display:flex;
    width: 100%;
    height: 25%;
    font-family: Impact;
    font-size: x-large;
    justify-content:stretch;
    margin:  10px 10px 10px 10px;
    align-items: center;
}

.p1 {
    font-size: x-large;
    text-align: justify;
    align-self: self-start;
    flex-wrap: wrap;
    border: auto;
    padding: 20px;

}

.aboutme-section {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    line-height: 3rem;
    text-align: left;
    padding-right: 10px;
}

.allprojectscontainer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.project1 {
    display: flexbox;
}

.project2, .project3, .project4 {
  display: flexbox;
}
.aboutme-section {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    line-height: 3rem;
    text-align: left;
    padding-right: 10px;
}
.allprojectscontainer {
display: flex;
justify-content: space-between;
margin: 10px;
padding: 10px;
}
.project1 {
    display: block;
    display: grid;
}
.projectimage {
min-height:300px;
min-width: 600px;
}

.project2, .project3, .project4 {
   flex-basis: 350%;
   justify-content: space-around;
   align-items: flex-end;
}
.profilepic {
    border-radius: 10px 100px 120px;
    width: 250px;
    height: 250px;
    max-height: 250px;
    max-width: 250px;
}
.connect-section {
    font-family: Helvetica;
    font-weight: bold;
    display: inline;
    justify-content: space-between;
}
